<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Register Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../assets/css/register.css">



    <style>
    .social{
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .dot{
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border: 2px  solid black;
    border-radius: 50px;
}
    </style>
</head>
<body>
    <img class="logo" src="logo.svg" alt="">
    
    <div class="main-container">
        <div class="register-left">
            <h1>Hi There!</h1>
            <h3>Already have <br> an account </h3>
            <a href="login.html" style="text-align: center;">Sign in</a>
        </div>
        <div class="register-right">
            <div class="form-container">
                <h1>Create an Account </h1>
                <div class="social">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <p class="subtitle">Or use your email</p>
                <form  class="signin-form">
                    <label for="email">Email</label>
                    <input required name="email" type="email" >
                    
                    <label for="name">Name</label>
                    <input required  type="text" name="username" >
                    
                    <label for="password">Password</label>
                    <input required type="password" name="password" style="margin-bottom:20px ;" >
                   
                    <label for="password">re-enter Password</label>
                    <input required type="password" name="password1" style="margin-bottom:20px ;" >

                    <button>Sign up</button>
                </form>
            </div>     
            

        </div>
        
    </div>


</body>
</html>