.login
{

position: absolute;
width: 150px;
height: 57px;
left: 939px;
top: 29px;
color: #FFFFFF;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
border-radius: 69px;
text-align: center;
}
.register
{
position: absolute;
width: 165px;
height: 57px;
left: 1100px;
top: 29px;
color: #FFFFFF;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
text-align: center;
border-radius: 69px;
}
.letsgo
{
position: absolute;
width: 180px;
height: 57px;
left: 600px;
top: 700px;
border-radius: 69px;

font-family: Montserrat;
font-style: normal;
font-weight: 1000;
font-size: 31px;
line-height: 55px;
text-align: center;

color: #014252;
background-color: #FFFFFF;

}

.section1
{
position: absolute;
width: 1600px;
height: 956px;
left: 0px;
top: 1px;
}
.seection1 a
{
	text-decoration: none;
}
.section1 h1
{
position: absolute;
left: 5.05%;
right: -14.05%;
top: -0.5%;
bottom: 50%;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 80px;
line-height: 300px;

color: #FFFFFF;

}
.section1 h3
{
position: absolute;
left: 13.51%;
right: -5.59%;
top: 50%;
bottom: -13.3%;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 250px;

color: #129CAE;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section2
{
position: absolute;
display: inline-block;
width: 1600px;
height: 1925px;
left: 0px;
top: 900px;
background: #129CAE;
}
.section2 h4
{
position: left;
width: 180px;
height: 0px;
left: 610px;
top: 30px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: -20px;


letter-spacing: 0.05em;

color: #FFFEFE;
}
.section2 #one
{
position: absolute;
float: left;
width: 100px;
height: 68px;
left: 95px;
top: 100px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

color: #FFFFFF;
}
.section2 .one
{
position: absolute;
float: left;
height:40px;
left: 95px;
top: 220px;
text-align: left;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.1em;
color: #E4E4E4;
}
.section2 #Img1
{position: absolute;
width: 516px;
height: 324px;
left: 771px;
top: 228px;
float: right;
background: #C4C4C4;
border-radius: 64px;

}
.section #Img2
{
position: absolute;
width: 516px;
height: 324px;
left: 185px;
top: 1785px;
float:left;
background: #C4C4C4;
border-radius: 64px;
}
.section2 #two
{
position: absolute;
width: 300px;
height: 68px;
left: 826px;
top: 1785px;
float:right;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;

color: #FFFFFF;

}
.section .two
{
position: absolute;
width: 477px;
height: 30px;
left: 826px;
top:7px;
float:right;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.18em;

color: #E4E4E4;
}
.section3
{

}
.section4
{
position: absolute;
width: 1600px;
height: 620px;
left: 0px;
top: 4792px;
}
.section5
{
position: absolute;
width: 1600px;
height: 843px;
left: 0px;
top: 5412px;
background: #129CAE;
}
.intDiv1
{
position: absolute;
width: 733px;
height: 218px;
left: 296px;
top: 360px;
filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.78));
}